<div id="container"><h1>Create a Tournament</h1>

<%= form_for @tournament, url: user_tournaments_path do |f|  %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :event_type %>
  <%= f.text_field :event_type %>
</p>

<p>
  <%= f.label :number_of_teams %>
  <%= f.number_field :number_of_teams %>
</p>

<p><%= f.submit %></p>

<% end %>
</div>