<h1><%= @tournament.name %></h1>
<main id="tournament">
  <% @tournament.rounds.each do |round| %>
  <ul class="round round-<%= round.number %>">
    <li class="spacer">&nbsp;</li>
    <% round.games.each do |game| %>
      <li class="game game-top winner"><%= game.teams.first.try(:name)  %></li>
        <li><%= button_to :won, { action: "update" } %></li>
        <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom "><%= game.teams.second.try(:name)  %></li>
        <li><%= button_to :won, { action: "update" } %></li>
        <li class="game game-spacer">&nbsp;</li>
     <% end %>
      <li class="spacer">&nbsp;</li>
    </ul>
  <% end %>


</main>
