<h1>:))))</h1>
<h1><%= @games.inspect %></h1>


<%= simple_form_for @round do |r| %>
  <% @round.games.each do |game| %>
    <%= r.simple_fields_for "game_attributes[]", game  do |g| %>
      <p>----------------------------------</p>
      <% game.teams.each do |team| %>
      <%= g.simple_fields_for "team_attributes[]", team  do |t| %>
        <%= t.input :name %>
      <% end %>
    <% end %>
  <% end %>
  <% end %>
  <%= r.submit %>
<% end %>

<%= simple_form_for @games.first.tournament do |t| %>
<%= 