<h1>Log In</h1>

<div class="form">
<%= form_for :session, url: login_path do |f| %>
<p>
  <%= f.label :email %>
  <%= f.email_field :email %>
</p>

<p>
  <%= f.label :password %>
  <%= f.password_field :password %>
</p>

<p>
  <%= f.submit "Click to log in" %>
</p>
<% end %>

<p>New User? <%= link_to "Sign Up!", signup_path %></p>
</div>