<!DOCTYPE html>
<html>
  <head>
    <title>BracketMaker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="container">

  <nav class="fixed-nav-bar">
  <ul>
  <li>  <%= link_to("Home", root_path) %></li>
  <% if current_user %>
    <li> <%= link_to("My Profile", user_path(current_user)) %> </li>
  <% else %>
   <li> <%= link_to("Log In", login_path) %></li>
   <li> <%= link_to("Sign Up", signup_path) %> </li>
  <% end %>
  </ul>
  </nav>
    <%= yield %>
    </div>
  </body>
</html>
