  <ul class="round round-2">
    <li class="spacer">&nbsp;</li>
    <% @tournament.rounds.second.games.each do |game| %>
      <li class="game game-top winner"><%= game.teams.first.try(:name)  %></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom "><%= game.teams.second.try(:name)  %></li>

      <li class="spacer">&nbsp;</li>
    <% end %>
  </ul>

  <ul class="round round-3">
    <li class="spacer">&nbsp;</li>
    <% @tournament.rounds.third.games.each do |game| %>
      <li class="game game-top winner"><%= game.teams.first.try(:name)  %></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom "><%= game.teams.second.try(:name)  %></li>

      <li class="spacer">&nbsp;</li>
    <% end %>
  </ul>

  -------->

        <%= form_for tournament_game_teams_path(@tournament) do |f| %>
      <li><%= f.check_box :won %></li>
      <li><%= f.hidden_field :game_id %></li>
      <li><%= f.hidden_field :team_id %></li>
      <% end %>

